.con-01{
    min-width: -webkit-fill-available;
    background: rgb(94,27,158);
background: linear-gradient(90deg, rgba(94,27,158,1) 24%, rgba(79,21,156,1) 46%, rgba(55,27,138,1) 80%);
}
.bar-001{
    display: inline-flex !important;
    margin-right: -11px !important;
    margin-left: 630px !important;
}

.nav-002{
    color: white;
}
.sandbox{
    margin-left: 133px;
    font-size: xxx-large;
}
.eh-01{
    margin-left: 400px;
    margin-top: 100px;
}
.eh-02{
    margin-top: 37px;
    margin-left: -20px;
    font-weight: 600;
    z-index: 2;
   
    color:white;
}
.eh-03{
    margin-top: 50px;
    margin-left: -25px;
    font-size: larger;
    color: #fff!important

}
.eh-04{
    margin-left: 213px;
    margin-top: 50px;
    margin-bottom: 250px;
    padding: 12px;
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;

}

.eh-05{
    font-size: large;
    font-weight: 700;
    color: white !important;
}


.nav-link{
    font-size: large;
}
.nav-link:hover{
    font-size: x-large;
}

.img-001{
    margin-top: -135px;
    margin-left: 40px;
    border-radius: 15px
}
.back-ground{
    border-radius: 20px !important;
    display: inline-table !important;
    margin-left: 181px !important;
    margin-top: -86px !important;
    background: rgb(94,27,158);
    background: linear-gradient(90deg, rgba(94,27,158,1) 24%, rgba(79,21,156,1) 46%, rgba(55,27,138,1) 80%);
    }
.col{
    margin-left: 137px;
}
.eh-1{
    margin-left: 65px;
    
}
.eh-2{
    margin-left: 37px;
    margin-right: 75px;

}
.eh-003{
    margin-left: 96px;
}
.fw-01{
    font-weight: 900;
  
}
.eh-m{
    margin-bottom: -65px !important;
    display: flex;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: #e0e9fa;
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    margin-left: -13px;
}
.co-01{
    color: #747ed1 !important;
}
.imge-001{
    width: auto;
    max-width: 100%;
    height: auto!important;
    border-radius: 20px;
    width: 243px;
   

}
.imge-002{
    width: auto;
    max-width: 100%;
    height: auto!important;
    border-radius: 20px;
    width: 243px;
}
.bo-001{
    color: #747ed1 !important;
    background-color: #e0e9fa;
    border-radius: 50px;
    height: 60px;
    width: 60px;
    display: flex;
    justify-items: center;
    align-items: center;
    align-items: center;
}
.ehs-003{
    margin-left: 13px;
}
.mb-001{
    margin-left: -4px;
}
.marb-1{
    margin-left: -117px !important;
}

.back-ground02{
    border-radius: 50px;
    min-width: -webkit-fill-available;
    color: white;
    background: rgb(94,27,158);
    background: linear-gradient(90deg, rgba(94,27,158,1) 24%, rgba(79,21,156,1) 46%, rgba(55,27,138,1) 80%);
    
}
.tx-1{
    margin-left: 100px;
    margin-right: 100px;
}
.ehsa-01{
    display: flex;
}
.w-12{
    width: 70px;
    height: 70px;
}
.mrb-01{
    margin-top: -260px !important;
}
.imge-003{
    border-radius: 15px
}


.back-ground03{
    background-color: #EAEBF4;
    min-width: -webkit-fill-available;
   
}
.imge-10{
    width: 160px;
}

.e-200{
    font-family: var(--bs-body-font-family) !important;
    margin-right: 200px;
    margin-left: -99px;
    font-size: 2,5rem;
    line-height: 1.2;
    font-family: "DM Serif Display";
    font-weight: 500 !important;
    word-spacing: normal !important;
    letter-spacing: normal !important
    
}

.e-201{
    color: #9499a3;
    margin-right: 150px;
    margin-left: -100px;
    font-size: 1.2rem!important;
    line-height: 1.6;
    font-family: var(--bs-body-font-family) !important;
    
}

.e-202{
    display: inline !important;
    padding: 15px !important;
    margin-right: 189px;
    margin-left: -99px;
    border: 1px solid #54a8c7 !important;
    color: white;
    background-color: #747ed1!important;
    border-radius: 50px !important;
}
.price-currency{
    font-size: larger;
    margin-right: -20px !important;
}


.price-value{
    font-size: xxx-large;
}
.bi-check{
color: #747ed1 !important;
background-color: #e0e9fa;
border-radius: 50px;
}
.e-206{
    box-shadow: 0 .60rem 3rem rgba(30,34,40,.07)!important;  }

    .e-203{
        border: 1px solid #54a8c7 !important;
        display: inline !important;
        padding: 15px !important;
        border-width: 2px !important;
        background-color: #747ed1 !important;
        border-radius: 50rem !important;
    }

    .e-205{
        display: inline !important;
        background-color: #54a8c7 !important;
        border-radius: 50rem !important;
    }
    .wi-1{
        width: 70% !important;
    }
    .colr-1{
        color: #60697b ;
    }
    .bx-1{
        
        color: #dc48c1 !important;
background-color: #e0e9fa;
border-radius: 50px;
    }
    .dis-100{
        display: contents;
    }
    .card-100{
        height: 150px !important;
        background-color: #e9eaf8!important;
        border-radius: 30px;
    }
    .img-br{
        border-radius: 30px;
    }
    .e-101{
        
        background: #21262c!important;
        color: white;
        min-width: -webkit-fill-available;
       
    }
    .mb-2{
        color: #9499a3;
        
    }
    .mb-2:hover{
       color:  #747ed1 ;
    }
    .dic-1{
        list-style-type: none;
    }
    .ml-1{
        margin-left: 43px !important;
    }
    .btn-12{
        color:white;
        background-color: #747ed1;
        border-radius: 10px;
        width: 100px;
        padding: 10px;
        
    }
    .btn-13{
        background: #25282b!important;
        color: white;
        border: 1px solid #747ed1 ;
    }
    

    .sm-icons .nav-item {
        padding-right: 1em;
      }
      .sm-icons {
        flex-direction: inherit !important;
        margin-left: -32px;
    }
     .wrapper.angled{
        position: relative !important;
        border: 0;
     }
     .wrapper.angled.upper-end:before {
        border-right-color: transparent;
        border-right-width: 100vw;
        border-top-width: 4rem;
        top: -4rem;}

     .wrapper.angled::before{
        content: "" !important;
        display: block !important;
        position: absolute !important;
        right: 0 !important;
        z-index: 0 !important;
        border: 0 solid transparent !important;
     }

     .wrapper.bg-light.angled.lower-end:after, .wrapper.bg-light.angled.upper-end:before {
        border-right-color: #fefefe;
    }

    .wrapper.angled:after, .wrapper.angled:before {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        z-index: 0;
        border: 0 solid transparent;
    }



    